options.txt
crafttweaker.log
hei_bookmarks.ini
minecraftinstance.json
usercache.json
usernamecache.json
screenshots/
saves/
resourcepacks/
mods/
logs/
local/
journeymap/
fancymenu_data/
fancymenu_setups/
downloads/
crash-reports
backups/
.mixin.out/
.curseclient